@import './base.css';

:root {
  --green-color: rgb(27, 136, 63);
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.start-button {
  background-color: white;
  border: 3px solid var(--color-text);
  border-radius: 12px;
  padding: 20px 35px;
  font-size: 20px;
  margin-top: 5px;
  color: var(--color-text);
  transition-duration: 0.4s;
  cursor: pointer;
}

.start-button:hover {
  background-image: linear-gradient(to bottom right, var(--green-color), rgb(109, 180, 131));
  color: white; 
  border-color: var(--green-color);
  font-size: 23px;
}

.start-button:active {
  background-color: white;
  background-image: none;
  color: var(--green-color);
}

.centre-flex {  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  gap: 20px;
  align-items: center;
}

.icon-logo {
  height: 70px;
  align-items: center;
  margin-left: 20px;
}

.site-name {
  font-size: 15px;
  width: 150px;
}

.header {
  position: fixed;
}

.choose-button {
  background-color: white;
  border: 0px solid var(--color-text);
  border-radius: 40px;
  font-size: 25px;
  padding: 315px 20px 0px 20px;
  width: 300px;
  height: 450px;
  color: var(--color-text);
  transition-duration: 0.4s;
  cursor: pointer;
}

.choose-button:hover {
  font-size: 26px;
  width: 315px;
  height: 475px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
