@import './base.css';

:root {
  --green-color: rgb(27, 136, 63);
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: var(--color-text);
  transition-duration: 0.4s;
  cursor: pointer;
}

.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.fixed-bottom-center {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.button-style-1 {
  background-color: white;
  border: 3px solid var(--color-text);
  border-radius: 12px;
  padding: 20px 35px;
  font-size: 20px;
  margin-top: 5px;
}

.button-style-1:hover {
  background-image: linear-gradient(to bottom right, var(--green-color), rgb(109, 180, 131));
  color: white; 
  border-color: var(--green-color);
  font-size: 23px;
}

.button-style-1:active {
  background-color: white;
  background-image: none;
  color: var(--green-color);
}

.centre-bottom {
  position: absolute;
  bottom: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.flex {
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.h-centre {
  margin-left: auto;
  margin-right: auto;
  /* width: fit-content; */
}

.icon-logo {
  height: 70px;
  margin-left: 35px;
}

.site-name {
  font-size: 15px;
  width: 150px;
  color: var(--color-text);
  text-align: center;
}

.header {
  position: fixed;
}

.choose-button {
  background-color: white;
  border: none;
  border-radius: 40px;
  font-size: 25px;
  padding: 315px 20px 0px 20px;
  width: 300px;
  height: 450px;
}

.choose-button:hover {
  font-size: 26px;
  width: 315px;
  height: 465px;
  padding: 325px 20px 0px 20px;
}

.palette-colour {
  background-color: white;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  padding: 205px 10px 0px 10px;
  width: 190px;
  height: 300px;
}

.palette-colour:hover {
  font-size: 21px;
  width: 200px;
  height: 310px;
  padding: 210px 10px 0px 10px;
}

.option-button {
  background-color: white;
  border: none;
  border-radius: 30px;
  font-size: 20px;  
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
  /* padding: 160px 10px 0px 10px; */
  width: 200px;
  height: 200px;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.option-button:hover {
  font-size: 21px;
  width: 210px;
  height: 210px;
  /* padding: 185px 10px 0px 10px; */
}
/* 
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
} */

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
